- verificar consumidores
- verificar maiores importadores

In [129]:
import warnings 
warnings.filterwarnings(action = 'ignore')
import pandas as pd

In [130]:
#importando dados da base da OIV
#%pip install openpyxl
dados_oiv = pd.read_excel("/Users/lucas/pos-tech/challenge/wine_data/base_OIV/data_oiv.xlsx")

In [131]:
dados_oiv.tail()

,Continent,Region/Country,Product,Variable,Year,Unit,Quantity
59377,Africa,Zimbabwe,Wine,Exports,2023.0,1000 hl,0.0
59378,Africa,Zimbabwe,Wine,Production,2023.0,1000 hl,15.0
59379,Africa,Zimbabwe,Wine,Production,2024.0,1000 hl,14.0
59380,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59381,Applied filters:\nLanguage is EN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
dados_oiv['Year'] = dados_oiv['Year'].astype(str).str.replace('.0','')
dados_oiv.head()

  Continent Region/Country       Product     Variable  Year    Unit  Quantity
0      Asia    Afghanistan  Dried Grapes  Consumption  1995  tonnes    8050.0
1      Asia    Afghanistan  Table Grapes  Consumption  1995  tonnes  189800.0
2      Asia    Afghanistan  Dried Grapes      Exports  1995  tonnes   20000.0
3      Asia    Afghanistan  Fresh Grapes      Exports  1995  tonnes   11500.0
4      Asia    Afghanistan  Fresh Grapes      Imports  1995  tonnes       0.0

In [133]:
import numpy as np
# Replace 'nan' with NaN (numpy.nan)
dados_oiv['Year'] = dados_oiv['Year'].replace('nan', np.nan)

# Remove rows where 'Year' is NaN
dados_oiv = dados_oiv.dropna(subset=['Year'])

# Convert 'Year' to integer
dados_oiv['Year'] = dados_oiv['Year'].astype(int)
dados_oiv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59380 entries, 0 to 59379
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Continent       59380 non-null  object
 1   Region/Country  59380 non-null  object
 2   Product         59380 non-null  object
 3   Variable        59380 non-null  object
 4   Year            59380 non-null  int64
 5   Unit            59380 non-null  object
 6   Quantity        59380 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 3.6+ MB

In [134]:
dados_oiv = dados_oiv.query("Year >= 2010")

In [135]:
dados_oiv.head()

,Continent,Region/Country,Product,Variable,Year,Unit,Quantity
120,Asia,Afghanistan,Dried Grapes,Consumption,2010,tonnes,9729.0
121,Asia,Afghanistan,Table Grapes,Consumption,2010,tonnes,243029.0
122,Asia,Afghanistan,Dried Grapes,Exports,2010,tonnes,24071.0
123,Asia,Afghanistan,Fresh Grapes,Exports,2010,tonnes,24313.0
124,Asia,Afghanistan,Fresh Grapes,Imports,2010,tonnes,24071.0

- Maiores importadores

In [136]:
dados_import_5y = dados_oiv.query("Product == 'Wine' & Variable == 'Imports' & Year >=2019")
dados_consumo_5y = dados_oiv.query("Product =='Wine' & Variable == 'Consumption' & Year >=2019")

display(dados_consumo_5y.head())
display(dados_import_5y.head())

      Continent Region/Country Product     Variable  Year     Unit  Quantity
36863      Asia    Afghanistan    Wine  Consumption  2019  1000 hl       1.0
36866      Asia    Afghanistan    Wine  Consumption  2020  1000 hl       1.0
36869      Asia    Afghanistan    Wine  Consumption  2021  1000 hl       1.0
36872      Asia    Afghanistan    Wine  Consumption  2022  1000 hl       1.0
36875      Asia    Afghanistan    Wine  Consumption  2023  1000 hl       1.0

      Continent Region/Country Product Variable  Year     Unit  Quantity
36864      Asia    Afghanistan    Wine  Imports  2019  1000 hl       1.0
36867      Asia    Afghanistan    Wine  Imports  2020  1000 hl       1.0
36870      Asia    Afghanistan    Wine  Imports  2021  1000 hl       1.0
36873      Asia    Afghanistan    Wine  Imports  2022  1000 hl       0.0
36975    Europe        Albania    Wine  Imports  2019  1000 hl      49.0

- Unit is in 1000hl -> 1hl = 100l

In [137]:
dados_consumo_5y.drop(columns=['Continent', 'Unit'], inplace=True)
dados_import_5y.drop(columns=['Continent', 'Unit'], inplace=True)

# Maiores comsumidores

In [139]:
#dados_consumo_5y.iloc[1:,:]
dados_consumo_5y.query("Product == 'Wine' & Variable == 'Consumption'")[['Region/Country', 'Quantity']].groupby('Region/Country').sum().sort_values('Quantity',ascending=False).iloc[1:,:]

                          Quantity
Region/Country
United States of America  208104.0
France                    143653.0
Italy                     137934.0
Germany                   114842.0
United Kingdom             78719.0
...                            ...
Netherlands Antilles           0.0
Nauru                          0.0
Mauritania                     0.0
Saudi Arabia                   0.0
Niue                           0.0

[197 rows x 1 columns]